body {
    background-color: rgb(43, 39, 53);
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 80px;
    color: rgb(234, 217, 236);
    text-align: center;
    /* display: block;
    background-color: rgb(49, 49, 51); */
}

h2, h3 {
    color: rgb(234, 217, 236);
}

h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 40px;
    padding: 10px 0px;
    margin: 10px 0px;
}

h3 {
    display: block;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    /* background-size: cover;
    background-color: rgb(93, 90, 107); */
    border-radius: 10px;
}

h3 span {
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(64, 61, 75);
}

p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    color: white;
}

hr {
    height: 5px;
    background-color: rgb(194, 206, 212);
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid yellow; */
}  

.flex-child:first-child {
    margin-right: 5%;
    margin-left: 5%;
} 

.flex-child:nth-child(2) {
    margin-right: 5%;
}

.tags {
    display: inline-block;
    height: 20px;
    padding: 10px;
    margin: 10px 5px;
}

#tags-title {
    /* margin: 10px; */
    padding: 5px;
}

#cover {
    width: 100%;
    border: 10px solid rgb(182, 154, 185);
}

#cover-div {
    text-align: center;
}

